<nav>
	<div>
		<ul>
			<li>{{link-to 'Geospatial View' 'geospatial'}}</li>
			<li>{{link-to 'Key Metrics' 'metrics'}}</li>
			<li>{{link-to 'Data View' 'issues'}}</li>
		</ul>
	</div>
</nav>
<h2 id="title">Welcome to Ember</h2>

{{outlet}}
